<?xml version='1.0' encoding='utf-8'?>
<plugin id="vanke-cordova-camera" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>vanke-cordova-camera</name>
	<js-module name="VankeCamera" src="www/vankeCamera.js">
		<clobbers target="VankeCamera" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="VankeCamera">
				<param name="android-package" value="com.vanke.cordova.camera.VankeCamera" />
			</feature>
		</config-file>
	  <config-file parent="/*" target="AndroidManifest.xml" />
	  <source-file src="src/android/VankeCamera.java" target-dir="src/com/vanke/cordova/camera/" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="VankeCamera">
				<param name="ios-package" value="VankeCamera" />
			</feature>
		</config-file>
		<source-file src="src/ios/VankeCamera.m" />
	</platform>
</plugin>
